<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About Us</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/7b5528ef15.js" crossorigin="anonymous"></script>
	<style>
	body
	{
		background: #ECF0F1;
	}
	h1
	{
		text-align: center;
		margin: 10px;
	}
	.over
	{
		font-size: 17px;
		padding: 20px;
		border: 2px dashed; #111;
	}
	.placement
	{
		font-size: 17px;
		padding: 20px;
		border-radius: 20px;
		background: #fff;
	}
	.over span
	{
		color: #DC7633;
		margin-bottom: 6px;
		font-family: Verdana;
		font-size: 25px;
	}
	.main
	{
		width: 100%;
	}
	</style>
</head>
<body>
<h1>About Us</h1>
<div class="container">
  <div class="row">
    <div class="col">
    	<p class="over">
    	<span>Overview</span> <br>
    	     Origin training is an enthusiastic group intended to train students
in colleges that are denied the privilege of Placement training. <br> A
group of Enthusiasts now have a vision of training students that
don’t have access to placement training that can help them get
placed, and thereby build their future.
</p>

    </div>

  </div>
</div>

<section class="section-2">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2>Objectives and Trainings</h2>
                <h5>The prime objective of the Training Cell is</h5>
  <ul class="list-group" style="width:100%;">
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i> To look for 100% employment for all students.</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>To recognize the core competencies of the students.
</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>To train the students to meet the expectations of the industry through our Career
Development Programmes.</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>To build confidence in students and develop the right attitude in them.</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>To enhance their communication skills.</li>
</ul>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h5>Training Activities :</h5>
  <ul class="list-group" style="width:100%;">
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i> Create awareness about “career planning" and "career mapping" among the
students.
</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Equip the student with life skills.
</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Train the students on “Personality development".</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Organize Various Training Programmes to train the students in the areas of
Quantitative Aptitude, Logical Reasoning and Verbal reasoning through the
reputed external training organizations and in-house trainers.</li>
  <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Train the students through Mock Interviews to perform well in the professional
interviews as per the expectations of the corporate world.</li>
       <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Train the students on group discussion techniques
</li>
             <li class="list-group-item"> <i class="fas fa-arrow-circle-right" style="padding-right:3px;"></i>Conduct online tests and written aptitude tests.
</li>


</ul>
            </div>
        </div>
    </div>
</section>






<div class="container">
  <div class="row">
    <div class="col" >
    	<h5>Why placement is so important ?? </h5>
    	<p class="placement">
Placement training plays a major role in shaping up the career goals of students. It is
the dream of every engineering student to get placed in a top organization visiting their
campus for recruitment. Keeping this key aspect into consideration, it is realized that
training is important for engineering students to enhance their employability skills and
achieve good placement in various Industries. <br> <br>
At present, the competition for employment is increasing every day and placement has
become a challenging task. Training students and equipping them with life skills has
become an important responsibility of the institution. Along with technical expertise,
the development of a holistic personality is also necessary.
</p>

    </div>

  </div>
</div>


</body>
</html>